.x-tab-focus {
	box-shadow: 0 1px 0 0 #c0a8d6 inset, 0 -1px 0 0 #c0a8d6 inset, -1px 0 0 0 #c0a8d6 inset!important;
}

.x-datepicker-month .x-btn-split-right:after {
	background-image: none;
}

.x-btn-wrap-default-small.x-btn-split-right:after {
	width: 0px;
}

.x-datepicker-month .x-btn {
	cursor: default;
}

.x-grid-item-focused .x-grid-cell-inner:before {
	border: 0px!important;
}

.x-grid-td {
	vertical-align: middle!important;
}